/* 
    Document   : style
    Created on : 2012-12-09, 23:44:39
    Author     : Martinezz
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: url("cssimages/background.png");
    margin: 0; 
}

#main
{
    margin: 0 auto; 
    width:900px;
}
#banner
{
    height: 255px;
    background-image: url('cssimages/banner.png');
    background-repeat: no-repeat;
}

#banner dl{
    height: 190px;
}

#banner-text{
    padding:0 10px 10px 10px;
    height:190px;
}
#banner-text p{
    text-align: left;
}

a{
    text-decoration: none;
}
div.top-menu{
    height: 100px;
    background-image: url("cssimages/wood.png");
}
div.top-menu ul
{
    list-style-type:none;
    text-align: right;
    margin:auto;
    width:900px;
    height:70px;
    padding:30px 0 0 0;
}
div.top-menu li
{
    vertical-align: text-bottom;
    display:inline;
}

div.top-menu a
{    
    vertical-align: text-bottom;
    font-size: 22px;
    font-family: Helvetica;   
    color: #574432; 
    padding: 10px;
}

div.main-menu ul
{
    list-style-type:none;
    margin:0 ;
    padding:0;
}

div.main-menu a{
    font-size: 22px;
    font-family: Helvetica;   
    color: #FFF; 
}

div.main-menu li{
    padding: 25px 0 0 0;
    display:block;
    width:180px;
    float:left;
    text-align: center;
    height:45px;
    text-align: center;
    background-image: url("cssimages/menu_item.png");
}
div.sub-menu{    
    background-image: url("cssimages/small_corner.png");
    background-position: right top; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    width:200px;
    margin: 0 0 10px 0 ;
    float:right;
    -webkit-box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -1px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         -1px 5px 3px rgba(0, 0, 0, 0.75);
}
div.sub-menu dl, dt, dd {
    background: #FFF;
    display: block;
    padding: 0;
    text-align: center;

}
div.sub-menu div{
    margin-top:40px;
    background-color: white;
    text-align: center;
}
div.sub-menu dl{
    margin: 40px 0 0 0;
    padding: 0 0 10px 0;
}

div.sub-menu dt,div.sub-menu h3{
    color:#c30909;
    font-size: 25px;
    font-family: Times;  
    text-decoration: none;  
    font-weight: normal;
}
div.sub-menu a{
    color:#000;
    font-size: 18px;
    font-family: Helvetica;
}
div.sub-menu dd,div.sub-menu p{
    color:#000;
    font-size: 18px;
    font-family: Helvetica;
    text-align: center;
    margin: 0;
    padding: 2px 0 0 0;  
}



div.footer{
    clear:both;
    text-align:center;    
    height: 80px;
    background-image: url("cssimages/wood.png");
    color: #574432; 
    padding:  10px; 
}
div.content{   
    margin: 0;
}


div.notification{    
    width:650px;
    margin: 0 ;
    float:left;
    -webkit-box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -1px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         -1px 5px 3px rgba(0, 0, 0, 0.75);
    
 /*   background-image: url("cssimages/big_corner.png");*/
    background-position: right top; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    margin: 0 0 25px 0;
}

div.notification p {
    position:relative;
    overflow:hidden;
    font-size: 16px;
    font-family: Helvetica;   
    color:#000;
    text-align: center;   
    font-weight: bold;
    margin:0;
    padding: 25px;
}

div.article, div.form,div.filter, div.faq, div.zoneventure {    
    width:650px;
    float:left;
    -webkit-box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -1px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         -1px 5px 3px rgba(0, 0, 0, 0.75);
    background-image: url("cssimages/big_corner.png");
    background-position: right top; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    margin: 0 0 15px 0;
}
div.article *, div.form *{
    
    background:#FFF;
}

div.article h1 {
    padding: 0px 50px;
    background:#FFF;
    color:#c30909;
    font-size: 32px;  
    font-family: Times;  
    margin:57px 0 0 0;
}
div.form h1,div.filter h1, div.faq h1, div.zoneventure h1{
    padding: 0px 50px;
    background:#FFF;
    color:#c30909;
    font-size: 32px;  
    font-family: Times;  
    margin:57px 0 0 0;
    text-align: center;
}

div.article h3{
    padding: 10px 50px;
    background:#FFF;
    color:#313131;
    font-size: 11px;
    font-family: Helvetica;   
    margin:0;
}



div.article p, div.faq p,div.filter p, div.faq p, div.zoneventure p {
    padding: 20px 50px;
    position:relative;
    margin:0;
    overflow:hidden;
    background-color: #FFF; /*Default bg, similar to the background's base color*/
    font-size: 16px;
    font-family: Helvetica;   
    color:#5e5e5e;
}

div.right {
    width:200px;
    float:right;
    margin:0;
}
div.form{
    
    font-family: Helvetica;
    font-size: 17px;
}
div.form form{
    margin: 0;
    padding:25px 125px;
}
div.form input, div.form textarea {
    width:380px;
    height:25px;
    padding: 5px;
    background:#f5f5f5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #dedede;
    margin:0;
    padding:5px 0;
    font-size:15px;
    color:#5e5e5e;
}
div.form label {
    font-size:18px;
    color:#5e5e5e;
}

div.form input[type="submit"] {
    width:300px;
    height:40px;
    background:#f5f5f5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #dedede;
    margin:20px 50px;
    font-size:15px;
    text-align: center;    
    color:#5e5e5e;
}

div.form input[type="checkbox"] {
    
    width:100px;
}


div.form input:focus, div.form  textarea:focus {
    border:1px solid #97d6eb;
    }

div.form textarea {
    height:213px;
    font-family:Arial, Helvetica, sans-serif;
    background:#efefef;
}

div.form div{
    padding: 10px 0;
}
div.form a, div.faq a{
    color: #5886ff;
    font-family: Helvetica;
    font-size: 17px;
}
div.gallery a {
}
div.gallery ul
{
    list-style-type:none;
    margin:0 ;
    padding:0;
}


div.gallery li{
    margin: 5px;;
    width:650px;
    height:240px;
    display:block;
    float:left;
    text-align: center;
}

.polaroid {
    margin-top: 8px;
    position: relative;
    width:200px;
    height:232px;
    float: left;
    background: #eee;
        
 
}
 
.polaroid img {
  width:180px;
    height:178px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
    -webkit-box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -1px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         -1px 5px 3px rgba(0, 0, 0, 0.75);
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 Times, cursive;  
  color:#c30909;
  margin:0;
}
div.description {
    margin: 0;
    padding-top: 37px;
    width:420px;
    height:203px;
    display:block;
    float:right;
    text-align: center;
    background-image: url("cssimages/medium_corner.png");
    background-position: right top; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/        
    -webkit-box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -1px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         -1px 5px 3px rgba(0, 0, 0, 0.75);
}
div.description *{
    background-color: #FFF;    
    margin: 0;
    text-align: left;
}
div.description p, h5{
    padding:5px 20px 0 20px;    
    color:#5e5e5e;
    font-size: 16px;
    font-family: Helvetica;   
}
div.description h5{
    padding:5px 20px 0 20px;
    
    color:#313131;
    font-size: 11px;
    font-family: Helvetica;   
}
div.description div{
    height: 100%;
}

div.faq *{
    background-color: #FFF;    
    margin: 0;
    text-align: left;
}

div.faq h3{    
    padding:10px 50px;      
    color:#313131;
    font-size: 17px;
    font-family: Helvetica;   
}

div.faq ul
{
    list-style-type:none;
    margin:0 ;
    padding:0px 50px;   
}


div.faq li{
    padding:5px 30px 0 30px;   
    margin: 0;
    display:block;
    text-align: left;
}

div.faq dl{
    padding:20px 50px;    
    color:#000;
    font-size: 17px;
    font-family: Helvetica;   
}

div.faq dt{
    padding:20px 0px 10px 5px;;    
    color:#000;
    font-size: 17px;
    font-family: Helvetica;   
}

div.faq dd{    
    padding:20px 0px 10px 5px;;    
    
    color:#313131;
    font-size: 15px;
    font-family: Helvetica;   
    border-bottom:  1px solid #CCC;
}

div.zoneventure img{
    max-width: 150px;
    float:left;
}
div.article img{
    max-width: 200px;
    float:right;
}

div.zoneventure, div.article{
    line-height: 150%;
}
div.banner-pin{
    
width: 20px;
   height: 20px;
   background: blue; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;        
    -webkit-box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -1px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         -1px 5px 3px rgba(0, 0, 0, 0.75);
}

div.add-scenario {
    padding-top:20px;
    padding-bottom:20px;
    width:650px; 
    float:left;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -1px 5px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         -1px 5px 3px rgba(0, 0, 0, 0.75);
   /* background-image: url("cssimages/big_corner.png");*/
   background-color: #97d6eb; 
    background-position: right top; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    margin: 0 0 15px 0;
 
}
div.add-scenario p{
    margin:0;
    width:auto;
    height: 50px;
    
}
div.add-scenario img{
    margin:0;
    width:auto;
    height: 50px;
    vertical-align: middle;
    
}
div.add-scenario a{
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica;   
    color:#000;
}

#register ul{
    list-style: none;
    color:#c30909;
    
}
    