<ul>
    {% for asset in assets %}
        <li data-id={{ asset.id }} data-type={{ asset.getFileType() }} data-path="{{ app.twig.globals.assetsScenarioPath ~ asset.path }}">
            {{ asset.name }}<button class="asset_preview" data-href="{{ path('assets_view', {'id': asset.id}) }}"></button>
        </li>
    {% endfor %}
</ul>