{% if app.session.hasFlash('notify-assets') %}
    <div class="notify-flash">
        <p>{{ app.session.flash('notify-assets') | trans }}</p>
    </div>
{% endif %}
<a href="{{ path('assets_widget') }}" id="linkToAssetsWidget" style="display: none;"></a>
<form action="{{ path('assets_upload') }}" method="post" {{ form_enctype(form) }} id="frmUploadAsset" class="ui-widget">
    {{ form_widget(form) }}
    <p><button id="frmUploadAssetSubmit" type="submit" >{{ 'form.upload_asset.submit'|trans}}</button></p>
</form>