<div id="assetsWidget">
    <label><b>Dodaj nowy plik</b></label>
    <div style="margin-left: 5px" id="frmUploadAssetDiv" class="ui-widget">
        {{ render(path('assets_upload')) }}
    </div>
        
    <label><b>Wybierz plik z listy</b></label>
    <div style="margin-left: 5px"  id="listAssetsDiv">
        {{ render (path('assets_list')) }}
    </div>
</div>