{% stylesheets '../../src/resources/css/example.css'
%}
    <link href="{{ app.twig.globals.assetsPath ~ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% image '../../src/resources/images/example.gif'
%}
    <img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="The alt text" />
{% endimage %}
<p>Hello <strong>{{ name }}</strong></p>
<br />
<p>Zalogowano jako <strong>{{ app.security.token.user.username }}</strong></p>
<br />
<a href="{{ app.url_generator.generate('homepage') }}">Powrot do strony glownej</a>
<br />
<a href="{{ app.url_generator.generate('creator_edit') }}">Idź do kreatora</a>
<br />
<a href="{{ app.url_generator.generate('changeLanguage', {'language': 'pl'}) }}">{{ 'home.changeLanguage.pl' | trans }}</a>
<a href="{{ app.url_generator.generate('changeLanguage', {'language': 'en'}) }}">{{ 'home.changeLanguage.en' | trans }}</a>
{% javascripts '../../src/resources/js/example.js'
               '../../src/resources/js/example2.js'
%}
    <script language="javascript" type="text/javascript" src="{{ app.twig.globals.assetsPath ~ asset_url }}"></script>
{% endjavascripts %}
 <a href="{{ path('logout') }}">Logout</a>
    
{#

wersje z kompresjami, które normalnie powinny być, ale na serwerze strasznie zamulają

{% stylesheets '../../src/resources/css/example.css'
    filter='yui_css' %}
    <link href="{{ app.twig.globals.assetsPath ~ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% javascripts '../../src/resources/js/example.js'
               '../../src/resources/js/example2.js'
    filter='yui_js' %}
    <script language="javascript" type="text/javascript" src="{{ app.twig.globals.assetsPath ~ asset_url }}"></script>
{% endjavascripts %}

#}