<!DOCTYPE html>
<html>
<head>
{% stylesheets '../../src/resources/css/MainStyle.css'
%}
        <title>ZoneVenture</title>
<link href="{{ app.twig.globals.assetsPath ~ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% image '../../src/resources/images/example.gif'
%}
{% endimage %}
{% javascripts 
              '../../src/resources/js/jquery-1.8.3.js'
'../../src/resources/js/bannerAnimation.js'
%}
<script language="javascript" type="text/javascript" src="{{ app.twig.globals.assetsPath ~ asset_url }}"></script>
{% endjavascripts %}
</head>
<body>
<div class="top-menu">
    <ul>
        {#
        <li><a href="{{ app.url_generator.generate('log_in') }}">Zaloguj</a></li>
        <li><a href="{{ app.url_generator.generate('faq') }}">Faq</a></li>
        <li><a href="{{ app.url_generator.generate('search') }}">Szukaj</a></li>
        #}
        <li>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <span>{{'home.header.logged'| trans}} <strong>{{ app.security.token.user.username }}</strong></span>
                <a href="{{app.url_generator.generate('logout')}}">{{'home.header.logout'| trans}}</a>
            {% else %}
                <a href="{{app.url_generator.generate('login')}}">{{'home.header.login'| trans}}</a>
            {% endif %}
        </li>
        <li><a href="{{app.url_generator.generate('faq')}}">FAQ</a></li>
        <li><a href="#">{{'home.header.search'| trans}}</a></li>
        {% image '../../src/resources/images/pl.png' %}
            <li><a href="{{ path('changeLanguage', {'language': 'pl'}) }}"><img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="PL" /></a></li>
        {% endimage %}
        {% image '../../src/resources/images/en.png' %}
            <li><a href="{{ path('changeLanguage', {'language': 'en'}) }}"><img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="EN" /></a></li>
        {% endimage %}
    </ul>

</div>

<div id="main">
    <div id="banner">
        <div class="banner-pin" style="background:#ff99ff ;position: absolute; margin-left: 100px;margin-top: 100px;">
            <span data-text="{{'home.banner.versat.text'| trans}}" data-header="{{'home.banner.versat.header'| trans}}"/>
        </div>
        <div class="banner-pin" style="background-color:#00ff00  ;position: absolute; margin-left: 500px;margin-top: 120px;">
            <span data-text="{{'home.banner.access.text'| trans}}" data-header="{{'home.banner.access.header'| trans}}"/>
        </div>
            <div class="banner-pin" style="background-color:  #666666 ;position: absolute; margin-left: 400px;margin-top: 70px;">
                <span data-text="{{'home.banner.simple.text'| trans}}" data-header="{{'home.banner.simple.header'| trans}}"/>
        </div>
            <div class="banner-pin" style="background-color: #ff0000 ;position: absolute; margin-left: 520px;margin-top: 180px;">
                <span data-text="{{'home.banner.exp.text'| trans}}" data-header="{{'home.banner.exp.header'| trans}}"/>
        </div>
            <div class="banner-pin" style="background-color: #ff3300 ;position: absolute; margin-left: 150px;margin-top: 190px;">
                <span data-text="{{'home.banner.learn.text'| trans}}" data-header="{{'home.banner.learn.header'| trans}}"/>
        </div>
            <div class="banner-pin" style="background-color: #ffcc00 ;position: absolute; margin-left: 150px;margin-top: 30px;">
                <span data-text="{{'home.banner.fun.text'| trans}}" data-header="{{'home.banner.fun.header'| trans}}"/>
        </div>
            <div class="banner-pin" style="background-color: #990099 ;position: absolute; margin-left: 520px;margin-top: 20px;">
                <span data-text="{{'home.banner.open.text'| trans}}" data-header="{{'home.banner.open.header'| trans}}"/>
        </div>
                <div class="banner-pin" style="background-color: #0099ff;position: absolute; margin-left: 290px;margin-top: 40px;">
                    <span data-text="{{'home.banner.commun.text'| trans}}" data-header="{{'home.banner.commun.header'| trans}}"/>
        </div>
        <div class="banner-pin" style="position: absolute; margin-left: 320px;margin-top: 150px;">
            <span data-text="{{'home.banner.horizon.text'| trans}}" data-header="{{'home.banner.horizon.header'| trans}}"/>
        </div>
        <div class="right">
            <div class="sub-menu">
                <div id="banner-text">
                <h3>ZoneVenture</h3>
                <p>{{'home.banner.right'| trans}}
                 </p> </div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <ul>
            {#
            <li><a href="{{ app.url_generator.generate('homepage') }}">ZoneVenture</a></li>
            <li><a href="{{ app.url_generator.generate('scenarios') }}">Scenariusze</a></li>
            <li><a href="{{ app.url_generator.generate('help') }}">Pomoc</a></li>
            <li><a href="{{ app.url_generator.generate('contact') }}">Kontakt</a></li>
#}
                    <li><a href="{{ app.url_generator.generate('zoneventure') }}">{{'home.zoneVenture'| trans}}</a></li>
                    <li><a href="{{ app.url_generator.generate('publiclist') }}">{{'home.scenario'| trans}}</a></li>
                    <li><a href="{{ app.url_generator.generate('scenariolist') }}">{{'home.creator'| trans}}</a></li>
                    <li><a href="{{app.url_generator.generate('help')}}">{{'home.help'| trans}}</a></li>
                    <li><a href="{{ app.url_generator.generate('contact') }}">{{'home.contact'| trans}}</a></li>
        </ul>
    </div>    
    <div class="right">
        {% block right %}  {#          
            {% for submenu in submenus %}
            <div class="sub-menu">
                <dl>
                    <dt>{{submenu.title}}</dt>                        
                            {% for item in submenu.items %}
                    <dd><a href="{{item.href}}">item.caption</a></dd>  
                            {% endfor %}
                </dl>
            </div>               
            {% endfor %}   #}  
            
            <div class="sub-menu">
                {% block scenario_recent_list %}
                    {{ render(path('recent_scenarios')) }}
                {% endblock %}
            </div>  
            {#
            <div class="sub-menu">
                <dl>
                    <dt>Najnowsze</dt>                        
                    <dd><a href="#">scenariusz</a></dd>      
                    <dd><a href="#">scenariusz</a></dd>      
                    <dd><a href="#">scenariusz</a></dd>      
                    <dd><a href="#">scenariusz</a></dd>      
                    <dd><a href="#">scenariusz</a></dd>                             
                </dl>
            </div>  
 #}
        {% endblock %}
    </div>   
    {% block notify %}
        {% if app.session.hasFlash('notify') %}
        <div class="notification" style="background-color:#33ff33">
                <p>{{ app.session.flash('notify') | trans }}</p>
            </div>
        {% endif %}
    {% endblock %}
    <div class="content">
        {% block content %}
            {% for article in articles %}
                <div class="article">

                    <h1>{{article.title}}</h1>
                    <h3>{{article.date}}</h3>
                    <p>
                        {{article.content}}
                        </p>
                </div>    
            {% endfor %}
        {% endblock %}
    </div>
</div>
<div class="footer">
        {% block footer %}
                    &copy; Copyright 2012 by Przemek, Marcin, Kuba, Bartek.
        {% endblock %}
</div>

</body>


{#

wersje z kompresjami, które normalnie powinny być, ale na serwerze strasznie zamulają

{% stylesheets '../../src/resources/css/example.css'
    filter='yui_css' %}
    <link href="{{ app.twig.globals.assetsPath ~ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% javascripts '../../src/resources/js/example.js'
               '../../src/resources/js/example2.js'
    filter='yui_js' %}
    <script language="javascript" type="text/javascript" src="{{ app.twig.globals.assetsPath ~ asset_url }}"></script>
{% endjavascripts %}

#}
    </html>