{%extends "main.html.twig" %}
{% block content%}

    {#% if error | trans  %}
<div class="notification">
    <p> {{error | trans}} </p>
</div>
        {% endif %#}
<div class="form">

    <h1>{{'form.contact.title'| trans}}</h1>
    <form>
        <div>
    <p>{{'form.contact.header'| trans}}</p>
            <label>{{'form.contact.email'| trans}}  </label>
            <input type="email" name="_email"/>
        </div>
        <div>
            <label>{{'form.contact.subject'| trans}}  </label>

            <input type="text" name="_subject" value="" />
            <label>{{'form.contact.message'| trans}}  </label>
            <textarea  name="_message" value=""></textarea>
            <input type="submit" name="submit" value="{{'form.contact.submit'| trans}}" />
        </div>
        </form>
</div>
{%endblock%}