{%extends "main.html.twig" %}
{% block content%}

    {#% if error | trans  %}
<div class="notification">
    <p> {{error | trans}} </p>
</div>
        {% endif %#}
<div class="faq">
                    <h1>FAQ</h1>
                    <h3 id="d2">Ogólne</h3>
<ul>
	<li><a href="#d2_1">Czym jest scenariusz?</a></li>
	<li><a href="#d2_2">Jakie systemy obsługuje ZoneVenture?</a></li>
	<li><a href="#d2_3">Jak pobrać i uruchomić scenariusz na urządzeniu mobilnym?</a></li>
</ul>
                    <h3 id="d1">Kreator</h3>
<ul>
	<li><a href="#d1_1">Jak stworzyć scenariusz?</a></li>
	<li><a href="#d1_1">Jak edytować scenariusz?</a></li>
	<li><a href="#d1_2">Jak stworzyć strefę?</a></li>
	<li><a href="#d1_3">Jak zaznaczyć strefę na mapie?</a></li>
	<li><a href="#d1_4">Jak stworzyć postać?</a></li>
	<li><a href="#d1_5">Jak stworzyć przedmiot?</a></li>
	<li><a href="#d1_6">Jak stworzyć zadanie?</a></li>
	<li><a href="#d1_7">Jak dodać media?</a></li>
	<li><a href="#d1_8">Jak stworzyć timer?</a></li>
	<li><a href="#d1_9">Jak stworzyć zmienną?</a></li>
	<li><a href="#d1_10">Jak dodać obsługę zdarzenia?</a></li>
	<li><a href="#d1_11">Jak dodać nową akcje?</a></li>
	<li><a href="#d1_12">Czym jest wybór akcji?</a></li>
	<li><a href="#d1_13">Jak dodać instrukcję warunkową?</a></li>
	<li><a href="#d1_14">Jak dodać pętle for?</a></li>
	<li><a href="#d1_15">Jak dodać pętle while?</a></li>
</ul>
   <dl>
	<dt id="d2_1">Czym jest scenariusz?</dt>
	<dd>Scenariusz w rozumieniu tej aplikacji jest opisem przebiegu interaktywnej gry, przewodnika
turystycznego, zabawy, itp. Zbudowany jest z kilku rodzajów obiektów: stref, postaci,
przedmiotów, zadan, mediów. Z kazdym z nich mozna wchodzic w interakcje. Więcej w dziale pomoc.</dd>
	<dt id="d2_2">Jakie systemy obsługuje ZoneVenture?</dt>
	<dd>Do zainstalowania i uruchomienia aplikacji mobilnej wymagane jest urzadzenie z platforma
Android w wersji co najmniej 2.1 lub Windows Phone 7.5. Ponadto musi byc ono
wyposazone w odbiornik GPS oraz posiadac dostep do Internetu.</dd>
	<dt id="d2_3">Jak pobrać i uruchomić scenariusz na urządzenie mobilne?</dt>
	<dd>Lista scenariuszy, do której mozna sie dostac wciskajac przycisk „Scenariusze”, zawiera
spis wszystkich scenariuszy dostepnych uzytkownikowi w danym momencie. Zawsze znajduja
sie na niej te oznaczone jako publiczne (dostepne bez koniecznosci logowania), wyswietlane
po 10 i uszeregowane od najnowszego, a dla zalogowanych uzytkowników równiez ich
prywatne oraz udostepnione przez znajomych. Aby uruchomic scenariusz, nalezy wybrac
jeden z listy oraz potwierdzic na kolejnym ekranie.</dd>
	
        
   </dl>
<dl>
	<dt id="d1_1">Jak stworzyć scenariusz?</dt>
	<dd>Aby miec dostep do kreatora scenariuszy wymagane jest zalogowanie do systemu. W
celu stworzenia nowego scenariusza na stronie głównej ZoneVenture nalezy kliknac w zakładke
“Kreator”, a nastepnie w opcje “Stwórz nowy scenariusz”. Nastepuje przekierowanie
do głównego widoku kreatora.</dd>
	<dt id="d1_2">Jak stworzyć strefę?</dt>
        <dd>Wcelu stworzenia nowej strefy w głównym widoku kreatora nalezy
wybrac zakładke “Strefy”. Pojawia sie lista stworzonych juz stref, a nad nia przycisk
“Stwórz nowa strefe”. Po kliknieciu tego przycisku pojawia sie okno dialogowe, w którym
mozna uzupełnic parametry nowo tworzonej strefy.</dd>
        <dt id="d1_3">Jak zaznaczyć strefę na mapie?</dt>
        <dd>Po kliknieciu w widoku tworzenia / edycji strefy w przycisk
“Zaznacz strefe” ukazuje sie nowe okno dialogowe z mapa. Klikajac lewym przyciskiemmyszy
na mapie zaznacza sie kolejne punkty strefy.Wielokat zamyka sie dodajac ostatni punkt
w poblizu pierwszego. Dopóki wielokat nie zostanie zamkniety, istnieje mozliwosc cofania
sie, usuwajac ostatnio dodane punkty, klikajac przycisk “Cofnij”.Wdowolnej chwili mozna
równiez rozpoczac zaznaczanie strefy od poczatku, klikajac przycisk “Zacznij od poczatku”.
Po zaznaczeniu strefy na mapie nalezy ja zatwierdzic klikajac przycisk “Zatwierdz”</dd>
        <dt id="d1_4">Jak stworzyć postać?</dt>
        <dd>W celu stworzenia nowej postaci w głównym widoku kreatora
nalezy wybrac zakładke “Postacie”. Pojawia sie lista stworzonych juz postaci, a nad nia
przycisk “Stwórz nowa postac”. Po kliknieciu tego przycisku pojawia sie okno dialogowe,
w którym mozna uzupełnic parametry nowo tworzonej postaci.</dd>
        <dt id="d1_5">Jak stworzyć przedmiot?</dt>
        <dd>Wcelu stworzenia nowego przedmiotuwgłównym widoku
kreatora nalezy wybrac zakładke “Przedmioty”. Pojawia sie lista stworzonych juz przedmiotów,
a nad nia przycisk “Stwórz nowy przedmiot”. Po kliknieciu tego przycisku pojawia
sie okno dialogowe, w którym mozna uzupełnic parametry nowo tworzonego przedmiotu.</dd>
        <dt id="d1_6">Jak stworzyć zadanie?</dt>
        <dd>W celu stworzenia nowego zadania w głównym widoku kreatora
nalezy wybrac zakładke “Zadania”. Pojawia sie lista stworzonych juz zadan, a nad nia
przycisk “Stwórz nowe zadanie”. Po kliknieciu tego przycisku pojawia sie okno dialogowe,
w którym mozna uzupełnic parametry nowo tworzonego zadania/</dd>
        <dt id="d1_7">Jak dodać media?</dt>
        <dd>W celu dodania nowych mediów w głównym widoku kreatora
nalezy wybrac zakładke “Media”. Pojawia sie lista dodanych juz mediów, a nad nią
przycisk “Dodaj nowe media”. Po kliknieciu tego przycisku pojawia sie okno dialogowe, w
którym mozna uzupełnic parametry mediów. Klikajac na przycisk “Plik” pojawia sie nowe
okno dialogowe, w którym mozna wybrac jeden z wgranych wczesniej plików albo wgrac
nowy, klikajac przycisk “Przegladaj”. W tym wypadku nalezy równiez podac nazwe, pod
jaka bedzie on widoczny na liscie plików. Wgrane pliki przypisane sa nie do scenariusza,
lecz do konta na ZoneVenture, zatem raz wgrany przez uzytkownika plik moze zostac wykorzystany
w wielu scenariuszach.
       </dd>
        <dt id="d1_8">Jak stworzyć nowy timer?</dt>
        <dd>Wcelu stworzenia nowego timera w głównym widoku kreatora
nalezy wybrac zakładke “Timery”. Pojawia sie lista stworzonych juz timerów, a nad nią
przycisk “Stwórz nowy timer”. Po kliknieciu tego przycisku pojawia sie okno dialogowe, w
którym mozna uzupełnic parametry nowo tworzonego timera.</dd>
        <dt id="d1_9">Jak stworzyć zmienną?</dt>
        <dd>W celu stworzenia nowej zmiennej w głównym widoku kreatora
nalezy wybrac zakładke “Zmienne”. Pojawia sie lista stworzonych juz zmiennych, a
nad nia przycisk “Stwórz nowa zmienna”. Po kliknieciu tego przycisku pojawia sie okno
dialogowe, w którym mozna uzupełnic parametry nowo tworzonej zmiennej.</dd>
        <dt id="d1_10">Jak dodać obsługę zdarzenia?</dt>
        <dd>W celu dodania obsługi nowego zdarzenia
do obiektu, w głównym widoku kreatora nalezy wybrac odpowiednia zakładke i na
liscie obiektów, która sie pokaze, po wybraniu odpowiedniego obiektu nalezy kliknac na
znajdujacy sie pod jego opisem przycisk “Dodaj obsługe nowego zdarzenia”. Pokaze sie
okno dialogowe, umozliwiajace wybór zdarzenia, do którego obsługe uzytkownik chce przypisac.
Nalezy wybrac z listy odpowiednie zdarzenie i kliknac przycisk “Dalej”. Pokaze sie
okno dialogowe edycji zdarzenia.</dd>
        <dt id="d1_11">Jak dodać nową akcje?</dt>
        <dd>Okno dialogowe edycji zdarzenia zawiera poczatkowo pusta liste
akcji, które beda miały sie wykonac w ramach obsługi zdarzenia. Po kliknieciu przycisku
“Dodaj nowa akcje” na liscie akcji pojawia sie nowy blok akcji, zawierajacy cztery przyciski</dd>
        <dt id="d1_12">Czym jest wybór akcji?</dt>
        <dd>Po kliknieciu w bloku akcji na przycisk “Wybierz akcje” zostanie otwarte
nowe okno dialogowe. Znajduje sie tam lista kategorii akcji. Wybierajac jedna z nich,
rozwinie sie lista mozliwych do wyboru akcji danej kategorii. Nalezy wybrac interesujaca
uzytkownika akcje i kliknac przycisk “Dalej”. Teraz uzytkownik musi podac argumenty
funkcji, o które zostanie poproszony. Na koniec po kliknieciu jeszcze raz przycisku “Dalej”,
akcja zostaje wybrana.</dd>
        <dt id="d1_13">Jak dodać instrukcję warunkową?</dt>
        <dd>Po kliknieciu w bloku akcji na przycisk “Instrukcja warunkowa”,
blok ten zostanie zastapiony blokiem instrukcji warunkowej. Zostaje równiez otwarte okno
dialogowe, w którym nalezy ustalic warunek. Blok składa sie z dwóch, poczatkowo pustych
list akcji. Jedna odpowiada akcjom, które wykonaja sie jezeli warunek bedzie spełniony,
druga z kolei jezeli warunek bedzie niespełniony.</dd>
        <dt id="d1_14">Jak dodać pętle for?</dt>
        <dd>Po kliknieciu w bloku akcji na przycisk “Petla for”, blok ten zostanie zastapiony
blokiem petli for. Blok petli for składa sie z poczatkowo pustej listy akcji, które maja
sie wykonac, oraz pola “liczba iteracji”, w którym wpisujemy ile iteracji tej petli ma sie
wykonac.</dd>
        <dt id="d1_15">Jak dodać pętle while?</dt>
        <dd>Po kliknieciu w bloku akcji na przycisk “Petla while”, blok ten zostanie zastapiony
blokiem petli while. Zostaje równiez otwarte okno dialogowe, w którym nalezy ustalic
warunek. Blok składa sie z poczatkowo pustej list akcji. Akcje te beda wykonywały sie tak
długo, jak długo bedzie spełniony warunek.</dd>
        
</dl>

                </div>
{%endblock%}