{%extends "main.html.twig" %}
{% block content%}
{#<p>To jest strona główna</p>
<p>Zalogowano jako <strong>{{ app.security.token.user.username }}</strong></p>
<a href="{{ path('logout') }}">Logout</a>
#}

<div class="zoneventure">
                    <h1>Pomoc</h1>
                    <p>
                       {% image '../../src/resources/images/help.png' %}
                    <img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="help" />
        {% endimage %}
                        Tutaj znajdziesz niezbędną pomoc dotyczącą systemu ZoneVenture. 
                        Definicję podstawowych pojęć przedstawione w najprostszy możliwy sposób.
                    </p>

                </div>
                
                <div class="article">
                    <h1>Podstawowe pojęcia</h1>
                    <h3>22 Grudzień, 2012 0:01</h3>
                    <p>
                        W systemie wykorzystywany jest szereg pojec, które nalezy uscislic.<br>
<b>Scenariusz</b> w rozumieniu tej aplikacji jest opisem przebiegu interaktywnej gry, przewodnika
turystycznego, zabawy, itp. Zbudowany jest z kilku rodzajów obiektów: stref, postaci,
przedmiotów, zadan, mediów. Z kazdym z nich mozna wchodzic w interakcje.
Zdarzenia, nazywane wymiennie Akcjami, sa przypisane do obiektów. Zdarzenia sa
róznego typu w zaleznosci od typu obiektu.Wywoływane sa w róznych momentach i to one
definiuja przebieg scenariusza, bedac jednoczesnie głównym elementem interakcji pomiedzy
uzytkownikiem, a odtwarzanym scenariuszem.<br>
<b>Strefa</b> jest to obszar okreslony zbiorem punktów bedacych współrzednymi geograficznymi.
Podstawowy obiekt, bez którego zaden scenariusz nie moze istniec. Ma swoja nazwe,
opis, widocznosc. Wejscie lub wyjscie ze strefy moze wywołac akcje zdefiniowane przez
autora scenariusza.<br>
<b>Postacie</b>, czyli wirtualni bohaterowie, na których mozemy natknac sie w czasie gry.
Postac przypisana jest w kazdym momencie do jednej ze stref, moze sie miedzy nimi przemieszczac.
Z bohaterami mozna równiez wchodzic w interakcje.
Przedmioty - mozna je znalezcwstrefach, dostac od postaci. Zdobycie przedmiotu moze
równiez wywołac jakies akcje (np. odkrycie nowej strefy, otrzymanie dodatkowych punktów,
wszystko zalezy od wyobrazni twórcy scenariusza).
Zadania - sa to przerózne cele do osiagniecia w czasie gry. Moze to byc na przykład
odwiedzenie jakiegos miejsca, zdobycie jakiegos przedmiotu, odkrycie tajnego hasła. Ukonczenie
zadania wpływa na przebieg gry, odblokowujac np. kolejne zadania, zwiekszajac liczbe
punktów.<br>
<b>Timery </b>- umozliwiaja odliczanie czasu, np. ograniczenie czasu na wykonanie pewnego
zadania, wykonywanie cyklicznych zdarzen.
Media - obiekty zawierajace pliki multimedialne, takie jak zdjecia, filmy, muzyka. Mozliwe
jest ich odtworzenie i zatrzymanie, a takze przypisanie akcji dla tych czynnosci.
11<br>
<b>Typy prymitywne</b> - sa to zmienne typu tekstowego (STRING), znakowego (CHAR),
logicznego (BOOLEAN), całkowitoliczbowego (INTEGER), zmiennoprzecinkowego (DOUBLE),
wykorzystywane we wnetrzu akcji, dostepne globalnie. Udostepniaja takze zdarzenie
wyzwalane podczas zmiany wartosci.</p>

                </div>

{% endblock %}