{%extends "main.html.twig" %}
{% block content%}
{#<p>To jest strona główna</p>
<p>Zalogowano jako <strong>{{ app.security.token.user.username }}</strong></p>
<a href="{{ path('logout') }}">Logout</a>
#}

<div class="zoneventure">
                    <h1>ZoneVenture</h1>
                    <p>
                       {% image '../../src/resources/images/home.png' %}
                    <img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="home" />
        {% endimage %}
                     Witaj, <br>
                        Jeśli jesteś zainteresowany najnowszymi technologiami i posiadasz smartphona
                        z systemem Windows Phone lub Android to dobrze trafiłeś. ZoneVenture to system 
                        który zamieni twój telefon w przewodnik, platformę do gier, platformę edukacyjną.
                        Wszystko to dzięki aplikacjom i zastosowaniu uniwersalnego systemu scenariuszy, którego 
                        ogranicza jedynie wyobraźnia twórcy scenariusza. Umożliwia on tworzenie scenariuszy(analogicznego do scenariusza filmu) 
                        gier, trasy przewodników, lekcji, którymi możesz dzielić się z użytkownikami systemu. Każdy scenariusz zawiera
                         odniesienia do miejsc w świecie rzeczywistym, przy wykorzystaniu technologii GPS, możesz wpływać na przebieg scenariusza 
                         wchodząc w interakcję z wirtualnymi postaciami czy odwiedzając określone miejsca. Poznaj zupełnie nowy wymiar wirtualnej rozrywki. 
                         Zaproś przyjaciół i baw się razem z nimi.
                         
                    </p>

                </div>
                
                <div class="article">
                    <h1>Startujemy</h1>
                    <h3>22 Grudzień, 2012 0:01</h3>
                    <p>{% image '../../src/resources/images/android.jpg' %}
                    <img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="android" />
        {% endimage %}
                        Od dzisiaj oferujemy aplikacje na systemy Android i WindowsPhone. Umożliwiają one 
                        odtwarzanie scenariuszy dostępnych przez ZoneVenture. {% image '../../src/resources/images/windows.png' %}

                    Zapraszamy do korzystania i przesyłania opinii.
                        ZoneVenture to system tworzony dla użytkowników przez użytkowników, także zachęcamy do tworzenia scenariuszy w kreatorze 
                        i dzielenia się z innymi użytkownikami. Aplikacje są dostępne w sklepie Play dla Androida i Market dla Windows Phone.
        
                        <img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="windows" />
        {% endimage %}
        
                    </p>

                </div>

{% endblock %}