{%extends "main.html.twig" %}
{% block content%}

    {% if error | trans  %}
<div class="notification" style="background-color: #c94848">
    <p> {{error | trans}} </p>
</div>
        {% endif %}
<div class="form">

    <h1>{{'form.login.title'| trans}}</h1>
    <form action="{{ path('login_check') }}" method="post">
        <div>
            <label>{{'form.login.login'| trans}}  </label>
            <input type="text" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label>{{'form.login.password'| trans}}  </label>

            <input type="password" name="_password" value="" />
            <input type="submit" name="submit" value="{{'form.login.submit'| trans}}" />
            {{'form.login.newhere'| trans}} <a href="{{app.url_generator.generate('register')}}">{{'form.login.register'| trans}}</a> <br>
            {{'form.login.forgot'| trans}} <a href="#">{{'form.login.remind'| trans}}</a>
        </div>
    </form>
</div>
{% endblock%}