{%extends "main.html.twig" %}
{% block content%}

    {#% if error | trans  %}
<div class="notification">
    <p> {{error | trans}} </p>
</div>
        {% endif %#}
<div class="form">
    <h1>{{'form.register.title'| trans}}</h1>
<form action="{{ path('register') }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" value="{{'form.register.submit'| trans}}" />
</form>
</div>
{%endblock%}