{%extends "main.html.twig" %}
{% block content%}
<div class="filter">
                    <h1>{{'scenario.header'| trans}}</h1>
                    <p></p>
                </div>
                <div class="add-scenario">
                    {% image '../../src/resources/images/add.png' %}
                    <a href="{{ path("create_new_scenario") }}"><p><img src="{{ app.twig.globals.assetsPath ~ asset_url }}" alt="add_scenario"/>{{'scenario.create'| trans}}</p></a>
                      {% endimage %}
                </div>
                <div class="gallery">
                    <ul>
                        {% for scenario in scenarios %}
                        <li>
                            {% include 'User/scenarioTemplate.html.twig' with {'scenario': scenario, "user": user, "showLink": "more"} %}
                        </li>
                        {% endfor %}
                    </ul>
            </div>
{%endblock%}