{%extends "main.html.twig" %}
{% block content%}
<div class="filter">
                    <h1>Publiczne scenariusze</h1>
                    
                    <p></p>
                </div>
                <div class="gallery">
                    <ul>
                        {% for scenario in scenarios %}
                        <li>
                            {% include 'User/scenarioTemplate.html.twig' with {'scenario': scenario, "user": user, "showLink": "more"} %}
                        </li>
                        {% endfor %}
                    </ul>
            </div>
{%endblock%}