<div class="polaroid">
    <p>{{ scenario.name }}</p>
    <img src="{{ path("www_getsplash", {"id": scenario.id}) }}">
</div> 
<div class="description">
    <div>
        <h5>{{'scenario.author'| trans}}: {{ scenario.author.firstname }} {{ scenario.author.lastname }}</h5>
        <h5>{{'scenario.date'| trans}}: {{ scenario.created | date('Y-m-d H:i') }}</h5>
        <h5>{{'scenario.tag'| trans}}: {{ scenario.tags }}</h5>
        <p>{{ scenario.description }}</p>
        <p>
        {% if showLink == "more" %}
            <a href="{{ path("scenario", {"id": scenario.id}) }}">{{'scenario.more'| trans}}...</a>
        {% elseif showLink == "edit" and user is not null and user.id == scenario.author.id %}
            <a href="{{ path("creator_edit", {"id": scenario.id}) }}">{{'scenario.edit'| trans}}</a>
            <a href="{{ path('creator_delete', {'id': scenario.id}) }}">{{'scenario.delete'| trans}}</a>
        {% endif %}
        </p>
    </div>
</div>