{%extends "main.html.twig" %}
{% block content %}

    {#% if error | trans  %}
<div class="notification">
    <p> {{error | trans}} </p>
</div>
        {% endif %#}
<div class="gallery">
        <ul>
            <li>
                {% include 'User/scenarioTemplate.html.twig' with {'scenario': scenario, "user": user, "showLink": "edit"} %}
            </li>
        </ul>
</div>
{%endblock%}