<dl>
    <dt>{{ 'scenario.list_recent.newest' | trans }}</dt>
    {% for scenario in scenarios %}
        <dd><a href="{{ path("scenario", {"id": scenario.id}) }}">{{ scenario.name }}</a></dd>                                 
    {% endfor %}
</dl>